.md-grid {
  max-width: 1280px !important;
}

.md-typeset .admonition.inline {
    float: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1em 0 !important;
}

.md-typeset .inline .admonition {
    flex: 1 1 auto;
    min-width: 300px;
    max-width: 45%;
    margin: 0 !important;
}
